@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Quicksand:wght@500&family=Roboto:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background: #FFF;
  color: #16133d;
  line-height: 1.5;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 20px 0;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 60px 0;
  background-color: #16133d;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  font-size: 35px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: #16133d;
}
.logo__img {
  display: block;
}
.logo--footer {
  color: #fff;
  margin-bottom: 30px;
}

.title_1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 40px;
}

.title_3 {
  font-size: 14px;
  color: #7690a8;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.service-card {
  padding: 40px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  cursor: pointer;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}
.service-card__icon-box {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  margin-bottom: 25px;
  border: 1px solid rgba(118, 144, 168, 0.2);
  border-radius: 12px;
}
.service-card__icon-box .icon-static {
  display: block;
}
.service-card__icon-box .icon-hover {
  display: none;
  position: absolute;
}
.service-card__title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
  color: #16133d;
}
.service-card__text {
  color: #7690a8;
  font-size: 14px;
  margin-bottom: 25px;
}
.service-card__link {
  color: #3DB370;
  font-weight: 700;
  text-decoration: none;
}
.service-card:hover {
  border-color: #3DB370;
}
.service-card:hover .service-card__icon-box {
  border-color: rgba(118, 144, 168, 0.2);
}
.service-card:hover .service-card__icon-box .icon-static {
  display: none;
}
.service-card:hover .service-card__icon-box .icon-hover {
  display: block;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 5px;
  background: #EFEEF3;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.social-list__link svg {
  fill: #16133d;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.social-list__link:hover {
  background: #e2e1e7;
}
.social-list__link:hover svg {
  fill: #3DB370;
}/*# sourceMappingURL=main.css.map */