$roboto-font-family: 'Roboto', sans-serif;
$nunito-font-family: "Nunito Sans", sans-serif;
$quicksand-font-family: "Quicksand", sans-serif;

$main-font-size: 16px;
$main-font-color: #16133d;
$clr-accent: #3DB370;
$clr-muted: #7690a8;

$main-background: #FFF;
$additional-background: #16133d;

$container-width: 1170px;
$main-border-radius: 12px;