$container-width: 1170px;

// fonts
$roboto-font-family: 'Roboto', sans-serif;
$quicksand-font-family: 'Quicksand', sans-serif;
$nunito-font-family: 'Nunito Sans', sans-serif;

// base
$main-font-size: 16px;
$main-font-color: #16133D;

// backgrounds
$main-background: #ffffff;
$additional-background: #16133D;

// colors
$clr-accent: #3DB370;
$clr-muted: #16133D;

// radius
$main-border-radius: 8px;

// animation
$transition: 0.3s ease;