@use 'vars' as v;
@use 'mixins' as m;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Quicksand:wght@500&family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: v.$roboto-font-family;
    font-size: v.$main-font-size;
    color: v.$main-font-color;
    background: v.$main-background;
}

// .main {
//     flex: 1;
// }

.container {
    @include m.container;
}

.header {
    padding: 22px 0;
    border-bottom: 1px solid #eee;
}

.logo {
    display: inline-flex;
    align-items: center;
    gap: 13px;
    font-size: 35px;
    font-family: v.$quicksand-font-family;
    text-decoration: none;
    color: v.$main-font-color;

    &__img {
        width: 30px;
    }

    &--footer {
        color: #fff;
        margin-bottom: 30px;
    }
}

.services {
    padding: 100px 0;

    &__header {
        margin-bottom: 40px;
    }

    &__subtitle {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: v.$clr-muted;
        margin-bottom: 10px;
    }

    &__title {
        font-family: v.$nunito-font-family;
        font-size: 40px;
        font-weight: 700;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.service-card {
    padding: 40px;
    border: 1px solid #eee;
    border-radius: v.$main-border-radius;
    display: flex;
    flex-direction: column;
    transition: border-color v.$transition;

    &__icon-box {
        @include m.flex-center;
        position: relative;
        width: 64px;
        height: 64px;
        border: 1px solid #7690a833;
        border-radius: 12px;
        margin-bottom: 30px;
    }

    &__icon {
        width: 32px;
        height: 32px;

        &--hover {
            position: absolute;
            display: none;
        }
    }

    &__title {
        font-size: 24px;
        margin-bottom: 15px;
    }

    &__text {
        color: v.$clr-muted;
        margin-bottom: 30px;
        flex-grow: 1;
    }

    &__link {
        color: v.$clr-accent;
        text-decoration: none;
        font-weight: 700;
    }

    &:hover {
        border-color: v.$clr-accent;

        .service-card__icon {
            display: none;
        }

        .service-card__icon--hover {
            display: block;
        }
    }
}

.footer {
    // margin-top: auto;
    padding: 40px 0;
    background: v.$additional-background;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.social-list {
    display: flex;
    gap: 15px;

    &__link {
        @include m.flex-center;
        width: 38px;
        height: 38px;
        background: #EFEEF3;
        border-radius: 8px;
        transition: v.$transition;

        svg {
            fill: v.$main-font-color;
            transition: fill v.$transition;
        }

        &:hover {
            background: #fff;

            svg {
                fill: v.$clr-accent;
            }
        }
    }
}